{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as bootstrapForms %}

{% block title %}
    {{ "Tehtävienhallintajärjestelmä - Muokkaa käyttäjäprofiilia" }}
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="heading text-center">{{ "Profiili" }}</h1>
                <h4 class="text-center">{{ "Muokkaa tietojasi" }}</h4>
                {{ bootstrapForms.quick_form(form, extra_classes = "form-editProfile", button_map = {"submit": "btn btn-editProfile text-uppercase"}) }}
            </div>
        </div>
    </div>
    

    <div class="page-header">
        <h1>Moi, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}tervetuloa{% endif %}!</h1>
        <h3>Tämä on profiilisivusi</h3>
    </div>
        <form method="POST" enctype="multipart/form-data">
            <div class="col-md-4">
                {{ bootstrapForms.quick_form(form) }}
            </div>
        </form>


{% endblock %}